<div class="box ">
<h1 class="title">Bienvenido a Carfix</h1>
<h2 class="subtitle">
  Hola {{userName}}, tu email<strong> {{userEmail}} </strong> ha sido verificado , ahora  puedes iniciar sesión.
</h2>
</div >