<span class="uk-position-center uk-text-large">
  Hola {{userName}}, tu email<strong> {{userEmail}} </strong> ha sido verificado , ahora  puedes iniciar sesión.
</span>
<span>Bienvenido a Carfix.</span>