{{!-- <section class="hero is-link is-fullheight-with-navbar"> --}}
  <div class="hero-body">
    <div class="container">
      <p class="title">
        {{!-- Fullheight hero with navbar --}}
      </p>
    </div>
  </div>
</section>


<div class="uk-position-center">
  <h1>{{title}}</h1>

  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
      <h3>Asistencia para las emergencias de tu auto en donde estés</h3>
      <h4> Sabemos que tener un auto en la ciudad es complicado por todas las fallas que puedan suscitarse durante el
        trayecto.
        <h4>Y es por eso que Carfix está para apoyarte con las principales emergencias de tu auto como:</h4>
        <br>
        <li>Cambio de llanta de refacción</li>
        <li>Paso de corriente a batería</li>
        <li>Servicio de grúa</li>
        <li>Abasto de combustible</li>
        <a href="/auth/register"><button class="button is-warning"><strong>Regístrate</strong></button></a>
    </div>
    </div>
    {{!-- <img width="50%" src="home/cristopher/Proyecto/public/images/carfix-logo.jpeg" alt="CarFix"> --}}
   <div class="columns is-centered">
     <div class="column is-10">
       <img width="50%" src="/images/carfix-logo.jpeg" alt="CarFix" style="margin: auto; display:block;">
     </div>
   </div>
  </section>

</div>

