<section class="hero is-info is-fullheight-with-navbar"> -
  <div class="hero-body">
    <div class="container">
      <h6 class="title is-6">Bienvenido a CarFix</h6> 
    

  <div class="columns is-centered">
    <div class="column is-5">
      <img width="50%" src="/images/carfixlogo.png" alt="CarFix" style="margin: auto; display:flex;">
    </div>
  </div>


      <div class="columns is-mobile is-centered">
        <div clas="column is-8">
      <h4 class="title is-4">Asistencia para las emergencias de tu auto en donde estés</h4>
    
        <h6 class="title is-6">Carfix está para apoyarte con las principales emergencias de tu auto como:</h6>
        <li class="title is-6">Cambio de llanta de refacción</li>
        <li class="title is-6">Paso de corriente a batería</li>
        <li class="title is-6">Servicio de grúa</li>
        <li class="title is-6">Abasto de combustible</li><br>

        <a  style="margin: auto; display:flex;" class=" button is-success" href="/auth/register"><strong>Regístrate</strong></a>
    </div>
    </div>
    </div>
    </div>
 
  
</section>